<div class='center'>
  <div class='form'>
<form method='POST' action='/api/sessions/login'>
      <label for='email'>Email:</label>
      <input type='email' name='email' id='email' required />
      <label for='password'>Contraseña:</label>
      <input type='password' name='password' id='password' required />
      <button type='submit'>Ingresar</button>
    </form>
    <div class='create-account'>
      <p>No tienes cuenta de usuario? <a href='/signup'>Registrate!</a></p>
    </div>
  </div>
</div>
