* {
  font-family: Arial, Helvetica, sans-serif;
}

.welcome {
  font-size: 20px;
  font-weight: 700;
  color: #333; /* Cambia el color del texto a un gris oscuro */
}

.right {
  display: flex;
  justify-content: end;
}

.green-btn {
  background: #64C9CF; /* Cambia el color de fondo a un azul claro */
  margin: 12px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF; /* Cambia el color del texto a blanco */
  cursor: pointer;
}

.logout {
  margin: 12px;
  background: #5D737E; /* Cambia el color de fondo a un gris azulado */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF; /* Cambia el color del texto a blanco */
  cursor: pointer;
}

.div-title {
  display: flex;
  justify-content: center;
}

#products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  border: 1px solid #5D737E; /* Cambia el color del borde a un gris azulado */
  align-items: center;
  padding: 15px 15px 0px 15px;
  background-color: #64C9CF; /* Cambia el color de fondo a un azul claro */
}

.product span {
  font-weight: 700;
  color: #333; /* Cambia el color del texto a un gris oscuro */
}

.add-product {
  margin-bottom: 15px;
  background: #5D737E; /* Cambia el color de fondo a un gris azulado */
  border-radius: 13px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 15px;
  font-weight: 700;
  color: #FFFFFF; /* Cambia el color del texto a blanco */
  cursor: pointer;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigate-before,
.navigate-next {
  width: 2em;
  height: 2em;
}

.page {
  font-size: 18px;
  font-weight: 700;
  color: #333; /* Cambia el color del texto a un gris oscuro */
}

.div-products-btn {
  margin-bottom: 1em;
}

.view-products {
  text-decoration: none;
  border: 1px solid #5D737E; /* Cambia el color del borde a un gris azulado */
  background: #64C9CF; /* Cambia el color de fondo a un azul claro */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 700;
  color: #FFFFFF; /* Cambia el color del texto a blanco */
  cursor: pointer;
}